nav a {
  font-size: 22px;
  font-family: fantasy;
  color: white;
  background-color: black;
  display: inline;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 6 px;
  padding: 0 30px 0 30px;
  text-decoration: none;
}



a:hover{
  text-decoration: underline;
  color: darkslategrey;
  transition: 0.5s ease-in-out;
}


